{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <div class="navbar">
        <div class="nav-left">
            <!-- <button onclick="{{url_for('logout')}}">Log out</button> -->
            <a href="/logout" class="logout">Wyloguj</a>
        </div>
        <div class="search-bar-container">
            <form action="" method="post" class="search-bar-form">
                <input type="text" name="searchBar" class="search-bar">
                <button type="submit" class="search-bar-submit"><img src="{{ url_for('static', filename='images/search.png') }}" alt=""></button>
            </form>
        </div>
        <div class="nav-right">
            <img src="{{ url_for('static', filename='images/default-avatar.png') }}" alt="awatar">
            <p>{{username}}</p>
        </div>
    </div>
    <div class="main">
        <div class="left-container"></div>
        <div class="posts-container">

            <!-- testowe -->
            <!-- <a href="/login">log in</a>
            <a href="/register">register</a>
            <a href="{{url_for('users')}}">Lista użytkowników</a> -->
            <!--  -->



            <div class="posts-list">
                <a href="/write_post" class="new-post"><button>Napisz nowy post</button></a>
                <!-- <a href="/write_post" class="new-post-btn">Napisz nowy post</a> -->
                {% for item in posts %}
                <div class="post">
                    <div class="post-user-info">
                        <img src="{{ url_for('static', filename='images/default-avatar.png') }}" alt="">
                        <p>{{ item.writer }}</p>
                        
                    </div>
                    <p>{{ item.date }}</p>
                    <div class="postValue">
                        <h3 class="post-title">{{ item.title }}</h3>
                        <p class="value">{{ item.value }}</p>
                    </div>
                    <div class="post-buttons-container">
                        <a href="/like/{{ item.id }}">
                            <div class="heart-container">
                                <p class="heart"></p>
                                <p>Like</p>
                                <p>12</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
</div>
{% endblock %}