{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="navbar">
    <div class="logo">
        <a href="/">Forum</a>
    </div>
    <div class="navbar-middle">
        <a href="/write_post" class="new-post">Napisz nowy post</a>
    </div>
    <div class="navbar-right">
        <div class="img-container">
            <div class="avatar" data-label="DC"></div>
        </div>
        <div class="username">

            <p>{{ username}}</p>
        </div>
    </div>
</div>

<div class="flex-container">
    <a href="/logout" class="logout">Wyloguj</a>

    <div class="sidebar-left">

    </div>
    <div class="middle-container">
        <div class="write-post">

        </div>

        {% for item in posts %}
        <div class="post">
            <div class="post-top">
                <div class="avatar-container">
                    <div class="avatar" data-label="CD"></div>
                </div>
                <div class="post-middle">
                    <div class="creator">{{ item.writer }}</div>
                    <div class="date">{{ item.date }}</div>
                </div>
            </div>
            <div class="content">
                {{ item.content }}
            </div>
            <div class="photos">

            </div>
        </div>
        {% endfor %}


    </div>
    <div class="sidebar-right">
        <div class="friend-top">
            <h4>Znajomi</h4>
        </div>
        <div class="friends-list">
            <div class="friend">
                <div class="friend-photo">
                    <div class="avatar" data-label="DC"></div>

                </div>
                <p>
                    Imie nazwisko
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    const avatars = document.querySelectorAll(".avatar");

    avatars.forEach((a) => {
    const charCodeRed = a.dataset.label.charCodeAt(0);
    const charCodeGreen = a.dataset.label.charCodeAt(1) || charCodeRed;

    const red = Math.pow(charCodeRed, 7) % 200;
    const green = Math.pow(charCodeGreen, 7) % 200;
    const blue = (red + green) % 200;

    a.style.background = `rgb(${red}, ${green}, ${blue})`;
    });
    </script>
{% endblock %}